body {
  font-size: 22px; }

body {
  background-color: #fff;
  color: white; }

.search-block {
  background: #2A66C3;
  font-size: 1rem; }

.menu-block {
  background: #2A66C3; }

/* nav */
#mainmenu {
  background-color: #e3f2fd;
  border-bottom: 15px solid gray;
  -webkit-box-shadow: 0px 10px 0px white;
          box-shadow: 0px 10px 0px white;
  font-size: 1.1rem; }

.dropdown.has-megamenu {
  position: static; }

.dropdown-menu {
  min-width: 200px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.7); }

.submenu2 {
  height: 291px; }

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300; }

.multi-column-dropdown {
  list-style: none;
  padding-left: 0; }

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal; }

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden; } 

	.foot {
		display: none;
	}

}

/* menu */
.main-menu .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

li {
  padding: 15px; }

.navbar-toggle {
  display: none; }

@media only screen and (max-width: 991px) {
  .main-menu ul {
    display: none; }
  .navbar-toggle {
    display: block; } }

/**/
.best-offers {
  background: #aeaeae; }

.currency {
  background: #aeaeae; }

.section {
  height: auto;
  margin: 10px;
  /*background: $grey */ }

.offer {
  text-align: center; }

.condition {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

/**/
table {
  min-width: 100%; }

table td {
  vertical-align: top;
  padding: 10px 15px; }

.currency-rate {
  text-align: center; }

.currency-value {
  text-align: center;
  padding: 10px 15px; }

.non-standard .currency-value a, .non-standard .currency-value span {
  display: block; }

.links .link {
  display: block; }

/**/
.article-top {
  background: #aeaeae; }

/**/
.ban-top {
  height: 90px;
  background: #aeaeae; }

.ban-bot {
  height: 250px;
  background: #aeaeae; }

/* rating */
.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/**/
footer .footer-first {
  background: #1E1E1E; }

footer .footer-second {
  background: #aeaeae; }

.footer-first ul {
  list-style: none;
  padding-left: 0; }

.footer-first li {
  font-size: 12px; }

.copyright small {
  display: block; }

.copyright span {
  font-weight: 700; }

.foot-info {
  font-size: 12px; }

/**/
.hidden {
  display: none; }

/**/


.show {
	display: block;
}